# OSX
.DS_Store

# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
**build/
DerivedData
project.xcworkspace
xcuserdata

# Android/IntelliJ
.gradle
.idea
*.iml
**/build/
local.properties

# node.js
node_modules/
npm-debug.log

# BUCK
*.keystore
\.buckd/
android/app/libs
buck-out/

# fastlane
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots
